@font-face {
  font-family: 'Space Invaders';
  src: url('../fonts/PressStart2P-vaV7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Status Bar */

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color:black;
  overflow: hidden;
}

.big-wrapper {
  display: flex;
  justify-content: center;
  color: black;
}

.status-bar-wrapper {
  margin-top: 170px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  background-color:black;
  width: 690px;
}

.game-text {
  color: white;
  font-family: 'Space Invaders';
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.grid {
  list-style: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 690px;
  width: 690px;
}

.grid div {
  /* border: 1px solid lightgrey; */
  list-style: none;
  flex-grow: 1;
  height: 41px;
  width: 41px;
}

#wave-text {
  margin-left: 240px;
  margin-top: 170px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Space Invaders';
  display: none;
}

.lives-remaining-bar {
  margin-top: 15px;
  padding-top: 8px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Space Invaders';
  width: 690px;
  border-top: 3px solid green;
}

/* Classes for 'sprites' */

.grid div.player {
  background-image: url('../assets/player.png');
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-color: green; */
}

.grid div.invader {
  background-image: url('../assets/aliena1.png');
  background-repeat: no-repeat;
  background-size: 80%;
  /* background-color: red; */
}  

.grid div.invaderAlt {
  background-image: url('../assets/alienb2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-color: darksalmon; */
}

.grid div.hitInvader {
  background-image: url('../assets/explosion.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid div.playerP {
  background-image: url('../assets/playerprojectile.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 7px 0;
  /* background-color: yellow; */
}

.grid div.invaderP {
  background-image: url('../assets/projectile.png');
  background-repeat: no-repeat;
  background-size: 70%;
  /* background-color: salmon; */
}

.grid div.barrier {
  background-image: url('../assets/barrier.png');
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-color: cadetblue; */
}

.lives-box {
  display: flex;
}

#lives-left {
  width: 40px;
  height: 30px;
  margin-top: 4px;
  margin-left: 7px;
}

/* CRT scanline effect */

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

