@font-face {
  font-family: 'Space Invaders';
  src: url('../fonts/PressStart2P-vaV7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black;
  overflow: hidden;
}

/* Status Bar */

.status-bar-wrapper {
  margin-top: 210px;
  display: flex;
  justify-content: space-evenly;
  background-color:black;
}

.game-text {
  color: white;
  font-family: 'Space Invaders';
}

.scoreDisplayInit {
  color: white;
}

.scoreDisplay {
  color: white;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  background-color: black;
}

.grid {
  list-style: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 690px;
  width: 690px;
}

.grid div {
  /* border: 1px solid lightgrey; */
  list-style: none;
  flex-grow: 1;
  height: 41px;
  width: 41px;
  font-family: 'Space-chars';
}

/* Classes for 'sprites' */

.grid div.player {
  background-image: url('../assets/player.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: green; */
}

.grid div.invader {
  background-image: url('../assets/aliena1.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */
}

.grid div.invaderAlt {
  background-image: url('../assets/alienb2.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: darksalmon; */
}

.grid div.hitInvader {
  background-image: url('../assets/explosion.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.playerP {
  background-image: url('../assets/playerprojectile.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: yellow; */
}

.grid div.invaderP {
  background-image: url('../assets/projectile.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: salmon; */
}

.grid div.barrier {
  background-color: cadetblue;
}

/* CRT scanline effect */

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

