body {
  background-color: black;
  overflow: hidden;
}

/* Status Bar */

.status-bar-wrapper {
  margin-top: 210px;
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}

.game-text {
  color: white;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 690px;
  width: 690px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 44px;
  width: 44px;
}

/* Classes for 'sprites' */

.grid div.player {
  background-color: green;
}

.grid div.invader {
  background-color: red;
}

.grid div.playerP {
  background-color: yellow;
}

.grid div.InvaderP {
  background-color: darkred;
}

/* CRT scanline effect */

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}